extends layout

block content
  h1= title
  p Welcome to #{title}


button#Black(
  type='submit'
  style='width: 25px; height: 25px; background-color: black;'
  onclick="if you plan to use single quotes here, use double quotes outer"
)